<aside class="flex flex-col h-screen overflow-hidden bg-[#f0f1f2] drop-shadow-2xl border-slate-300 "
  [ngClass]=" isSidebarOpen ? '  transform transition-all duration-200 ease-in  ' : '  -translate-x-full transform duration-300 ease-out w-0 transition-all  '">
  <div
    class="flex flex-row align-baseline rounded-sm shadow-xl -p-1 -pr-5 bg-slate-200 justify-items-center place-items-end">
    <!-- <img src="/assets/img/logo.jpg" alt="" class="self-center w-2 h-2 rounded-full "
    [ngClass]="isSidebarReduced  ? ' hidden ': 'translate-x-0 w-0 transform-none'"> -->
    <span class="p-2 text-xl font-semibold leading-8 text-gray-500 origin-center whitespace-nowrap "
      [ngClass]="isSidebarReduced  ? ' hidden ': 'translate-x-0 w-0 transform-none'">
      Yasin<span>-Dev</span>
    </span>
    <!-- <span (click)="isSidebarReduced = ! isSidebarReduced; toggleSidebarReduce.emit(isSidebarReduced)"
      > -->
    <button (click)="isSidebarReduced = ! isSidebarReduced; toggleSidebarReduce.emit(isSidebarReduced) ">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="fixed items-end self-center w-6 h-6 text-white bg-black rounded-md shadow-2xl cursor-pointer top-3 -right-1"
        [ngClass]="{'rotate-180 ': isSidebarReduced}">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />

      </svg>

    </button>


    <!-- <mat-icon class="fixed right-0 self-center text-white bg-black rounded-md top-2 text-white-400 "
      [ngClass]="{'transform transition-transform rotate-180': isSidebarReduced}">start</mat-icon>
    </span> -->

  </div>

  <nav class="h-full px-2 pt-10 space-y-2 overflow-y-scroll bg-[#6867be] text-white shadow-2xl "
    [ngClass]="isSidebarReduced ? 'w-12 transform place-items-center justify-center ml-1 mt-10 transition-all duration-300 ease-out': 'transition-all duration-300 ease-in h-full w-60 '">

    <!-- <div class="absolute inset-0 bg-gradient-to-br from-slate-400 via-teal-100 to-transparent opacity-90"></div> -->
    <ul *ngFor=" let link of links;let i=index"
      class=" hover:bg-[#c0bff4] hover:rounded-md  focus-within:border-l-4 focus-within:border-l-red-600 focus-within:shadow-sm">
      <a (click)="link.action = !link.action" matTooltip={{link.name}}
        class="flex items-center p-1 pr-2 mr-1 text-sm text-center  align-middle transition-colors rounded-t-sm cursor-pointer align-center "
        role="button">
        <!--  [routerLink]=[link.url] no need to put routing up there-->
        <!-- icon de chaque lien du sidebar -->
        <span aria-hidden="true"
          [ngClass]="isSidebarReduced ? ' items-center justify-center': 'translate-x-0 text-sm '">
          <mat-icon class=" scale-75 hover:text-white ">{{link.icon}}</mat-icon>
        </span>
        <!-- Nom de chaque menu du lien sidebar -->
        <span [ngClass]="isSidebarReduced ? 'hidden ': 'translate-x-0 pl-2'">{{link.name}}
        </span>
        <!-- critical to put ml-auto on the span to keep the expand icon on the right -->
        <!--  condition pour les menus ayant des sous menus -->
        <span *ngIf="link.children && link.children.length >0"
          [ngClass]="isSidebarReduced ? ' hidden ': 'transition duration-300 ease-in'" class="ml-auto hover:text-white">
          <!-- csmall chevron svg -->
          <svg
            class="w-5 h-5 ml-1 -mr-1 font-semibold transition-transform transform scale-75 text-sellar-primary group-hover:rotate-180"
            [ngClass]="{ 'rotate-180': link.action}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
            fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              clip-rule="evenodd" />
          </svg>

        </span>

      </a>
      <ul *ngIf="!!link.children && link.children.length >0 && link.action == true "
        class="align-middle border-t-inherit ">
        <!-- rounded-md duration-300 transform transition-transform  -->
        <!-- [ngClass]="{'active': 'bg-sellar-primary'}" -->
        <li *ngFor="let sub of link.children; let i=index" matTooltip={{sub.name}} [matTooltipPosition]="'right'"
          class="flex flex-row items-center h-12 px-8 py-4 mx-auto space-y-1 overflow-hidden text-sm text-gray-700 transition duration-300 ease-in-out rounded cursor-pointer place-items-center justify-items-start text-ellipsis whitespace-nowrap focus-within:border-l-4 focus-within:red-600 focus-within:shadow-sm hover:text-blue-600 hover:bg-blue-50 group "
          routerLink="{{link.children[i].url}}">
          <span
            [ngClass]="isSidebarReduced ? ' items-center place-items-start left-0 bg-red-300': 'translate-x-0 text-sm '">
            <mat-icon>{{link.children[i].icon}}</mat-icon>
          </span>
          <span role="menuitem"
            class="block p-2 text-sm text-white transition-colors duration-200 rounded-md hover:text-gray-700
            pb-1  after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-blue-500 after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100"
            [ngClass]="isSidebarReduced ? ' hidden ': 'translate-x-0 '">
            {{ link.children[i].name }}
          </span>
        </li>

      </ul>

    </ul>



  </nav>


  <!-- <div class="fixed top-0 right-0 flex items-center h-screen">
    <div class="z-10 inline-flex flex-col items-center p-2 bg-white border-t-4 border-b-4 border-l-4 border-indigo-400 rounded-tl-lg rounded-bl-lg shadow-2xl">
      <button class="w-5 h-5 mb-2 bg-gray-500 rounded-full outline-none focus:outline-none" theme-button="gray"></button>
      <button class="w-5 h-5 mb-2 bg-red-500 rounded-full outline-none focus:outline-none" theme-button="red"></button>
      <button class="w-5 h-5 mb-2 bg-orange-500 rounded-full outline-none focus:outline-none" theme-button="orange"></button>
      <button class="w-5 h-5 mb-2 bg-green-500 rounded-full outline-none focus:outline-none" theme-button="green"></button>
      <button class="w-5 h-5 mb-2 bg-teal-500 rounded-full outline-none focus:outline-none" theme-button="teal"></button>
      <button class="w-5 h-5 mb-2 bg-blue-500 rounded-full outline-none focus:outline-none" theme-button="blue"></button>
      <button class="w-5 h-5 mb-2 bg-indigo-500 rounded-full outline-none focus:outline-none" theme-button="indigo"></button>
      <button class="w-5 h-5 mb-2 bg-purple-500 rounded-full outline-none focus:outline-none" theme-button="purple"></button>
      <button class="w-5 h-5 bg-pink-500 rounded-full outline-none focus:outline-none" theme-button="pink"></button>
    </div>
  </div> -->
  <!-- Sidebar footer -->
  <div class="absolute bottom-0 flex p-0  text-white border-t max-h-10 w-60">
    <button
      class="flex items-center justify-center w-full px-4 py-2 space-x-1 font-medium tracking-wider bg-[#6267c0] border rounded-md border-sellar-primary focus:outline-none focus:ring">
      <span
        [ngClass]="isSidebarReduced ? ' items-center place-items-start left-0 ': 'translate-x-0 text-sm  text-white'">
        <mat-icon class="scale-75 text-white bg-transparent ">logout</mat-icon>
      </span>
      <!-- <span>
        <mat-icon class="scale-75 text-sellar-primary ">logout</mat-icon>
      </span> -->
      <span [ngClass]="{'sm:hidden': isSidebarReduced }"> Logout </span>
    </button>
  </div>
</aside>
